<!DOCTYPE html>
<html lang="zh-hans-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/static/popper.min.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/jquery.pjax.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/StartUp.js"></script>

  <title>Gagago -- {{title}}</title>
</head>

<body>