<div class="bg-white p-3 shadow-sm">
  <h1 class="mb-4">设置</h1>
  <h3>账号资料</h3>
  <div class="text-muted">设置昵称、头像、自我介绍等</div>

  <hr>

  <div>
    <h5 class="text-primary">头像</h5>
    <div class="d-flex justify-content-between align-items-center">
      <img class="old-avatar-img" src="{{avatar}}" alt="gagago avatar">
      <input class="d-none" type="file" name="avt" id="avatar-input" accept="image/png,image/jpeg">
      <label for="avatar-input" class="btn btn-primary">修改</label>
      <img class="d-none" id="preview" src="" alt="">
    </div>
  </div>

  <hr>

  <div>
    <h5 class="text-primary">昵称</h5>
    <div class="d-flex justify-content-between align-items-center">
      <div>{{nickname}}</div>
      <button class="btn btn-primary">修改</button>
    </div>
  </div>
</div>

<div id="avatar-cropper" class="gg-modal d-none">
  <div class="bg-white shadow-sm p-3">
    <div class="d-flex flex-column">
      <h4>选择区域</h4>
      <canvas id="grap" width="256" height="256"></canvas>
      <input type="range" name="" id="scale-input" min="1.0" max="2.0" step="0.01">
      <div class="d-flex" style="gap: 5px;">
        <button id="avatar-submit" class="btn btn-primary">上传</button>
        <button id="gg-modal-close" class="btn btn-outline-primary">取消</button>  
      </div>
    </div>
  </div>
</div>
<script>
</script>

<script src="/static/settings.page.js"></script>